/* Initial build is going to be light on CSS because I'm trying to get the programming side of things working
   I'll spruce up the CSS when I can */
:root {
    --darkest: #2c3531;
    --dark: #116466;
    --hilite1: #D9B08C;
    --hilite2: #FFCB9A;
    --lightest: #D1E8E2;
}

header {
    background-color: var(--darkest);
}

body {
    color: var(--darkest);
    background-color: var(--lightest);
}

.futureForecast {
    background-color: var(--darkest);
    color: white;
    padding: 5px;
    margin: 5px;
}

.futureForecast h4 {
    font-size: 1.25rem;
}

.currentForecast li {
    list-style: none !important;
    font-size: 1.25rem;
}

#sidebarMenu {
    background: var(--lightest) !important;
}
